header{
    background-color: lavender;
    z-index: 100;
}
header .branding{
    opacity: 0.9;
}
header .branding:hover{
    opacity: 1;
}
header a{
    color: rgb(11, 46, 102);
    font-size: 18px;
}
.header-actions{
    padding-right: 70px;
}