<div id="home">
  <div id="home-content-1" class="row-12">
    <div id="home-bg"></div>
  </div>
  <div id="home-content-2" class="row-12">
    <div class="content-container">
      <section class="title">
        <h3>PME</h3>
      </section>
      <section class="info">
        <ul>
            <li>Sociétés par actions</li>
        </ul>
      </section>
      <section class="info">
        <ul>
            <li>Tenue de livre</li>
            <li>Taxes de vente</li>
            <li>Retenues salariales</li>
            <li>Incorporation</li>
            <li>Impôts corporatifs</li>
        </ul>
      </section>
    </div>
  </div>
  <div id="home-content-3" class="row-12">
    <div class="content-container">
      <section class="title">
          <h3>Particuliers</h3>
      </section>
      <section class="info">
        <ul>
          <li>Entreprises individuelles</li>
        </ul>
      </section>
      <section class="info">
        <ul>
          <li>Impôts personnels</li>
        </ul>
      </section>
    </div>
  </div>
  <div id="home-content-4">
    
  </div>
</div>
